.content{
    background-color: red;
    font-family: arial;
    font-size: 20px;
    color:white; 
}
.newcls{
    background-color: pink;
}

.div1{
    background-color: blue;
    height: 100px;
    width: 100px;
}

#change-mode{
    margin-top:10px;

}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}